:root {
    --primary: #fea116 !important;
    --light: #f1f8ff;
    --drak: #0f172b;
}

body {
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
}

.text-color {
    color: #fea116 !important;
}

.bg-color {
    background-color: #fea116 !important;
}

/*  Button */
.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #ffffff;
}

/* Header section */
.carousel-caption {
    top: 0;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background: rgba(15, 23, 43, .7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

/* Item */
.youtube {
    color: red;
    font-size: 1.5em;
}
.phone {
    color: blue;
    font-size: 1.5em;
}
.facebook {
    color: blue;
    font-size: 1.5em;
}

.bird {
    color: gray;
    font-size: 1.5em;
}

.elementa {
    text-decoration: none;
    color: black;
}

.functionText {
    font-weight: bold !important;
    color: black !important;
}

.nav-link:focus,
.nav-link:hover {
    color: #ffc107 !important;
}

.functionText:hover {
    color: #646468;
}

/* Header */
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: #fea116;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: #fea116;
}

/* chuc nang dat phong */

.textPriceRoom {
    font-weight: bolder;
    font-size: larger;
}

.textTitleRoom {
    font-weight: 700;
    color: rgb(67, 66, 66);
}

.card {
    height: 100%;
}

.card-body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}

p {
    margin-bottom: 0;
}

.div-hover:hover {
    background-color: #146c43;
}

.div-bg {
    background-color: gray;
    cursor: pointer;
}

.date {
    border: 0px;
    border-left: 2px solid gray;
    width: 141px;
}
.cusor {
    cursor: pointer;
}
.cusor :hover {
    background: yellow !important;
}
/* Lich */
.flatpickr-months .flatpickr-month {
    background: #0F172B !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
    background: #0F172B !important;
}

.flatpickr-weekdays {
    background: #0F172B !important;
}

.flatpickr-weekday {
    background: #0F172B !important;
    color: white !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
    font-weight: 500 !important;
}

.flatpickr-current-month input.cur-year {
    font-weight: 500 !important;
}

input:focus-visible {
    outline: none;
}


/* Dich vu */
.service-item {
    height: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
    cursor: default;
}

.service-item .service-icon {
    margin: 0 auto 30px auto;
    width: 65px;
    height: 65px;
    transition: .5s;
}

.service-item i,
.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover i,
.service-item:hover h5,
.service-item:hover p {
    color: #FFFFFF !important;
}

/* hover div dat phong */
.div-hover:hover {
    border: 1px solid greenyellow;
}

/* hover button */
.bd-hover:hover {
    background: #d4eadd !important;
}

/* Chuc nang thanh toan */
.SumPriceText {
    font-size: larger;
}

.Sumprice {
    font-size: xx-large;
    color: #f1a22d;
}


/* Định dạng scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.scroll-content {
    height: 350px;
    width: 453px;
    overflow-y: scroll;
}

/* trang dat phong */
.Datphong-hover:hover {
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.Datphong-hover {
    transition: margin-left 0.1s, margin-right 0.1s;
}

.item {
    width: 300px;
    height: 180px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease; 
}
.image-container:hover img {
    transform: scale(1.05); 
}
.shadow-item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

}
.shadow-item {
    transition:  0.3s;
}

.otp-field {
    flex-direction: row;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.otp-field input {
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
}

.otp-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.otp-field input::-webkit-inner-spin-button,
.otp-field input::-webkit-outer-spin-button {
    display: none;
}

.resend {
    font-size: 12px;
}

/* Danh gia */
.form-outline {
    position: relative;
  }
  .star-rating {
    /* position: absolute; */
    /* top: 10px;
    right: 10px; */
    direction: rtl;
    display: inline-block;
    font-size: 1.5em;
    color: #f39c12; /* Màu của các sao đã chọn */
  }
  .star-rating input {
    display: none;
  }
  .star-rating label {
    color: #ccc; /* Màu của sao chưa chọn */
    cursor: pointer;
  }
  .star-rating input:checked ~ label,
  .star-rating input:checked ~ label ~ label {
    color: #f39c12; /* Màu của sao đã chọn */
  }
  .comments-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
  }
  .comments-container textarea {
    width: 100%;
    resize: none;
  }